<p><%= "Dear Yak "%></p>
<p><%= "Could you get in touch with me please? "%></p>

<dt>Name:</dt>
<dd><%= @name %></dd>
<dt>Emai:</dt>
<dd><%= @email %></dd>

<p><%= @messgae %></p>

<p>Thanks,</p>

<p><%= @name %></p>