<p><%= "Dear Yak "%></p>
<p><%= "Could you get in touch with me please? "%></p>

<p>
<dl></dl>
<dt>Name:</dt>
<dd><%= @name %></dd>
<Email>:</Email>
<dd><%= @email %></dd>
<p><%= @messgae %></p>

<p>Thanks,</p>

<p><%= @name %></p>