<%= simple_form_for(@post, remote: true) do |f| %>
  <%= f.error_notification %>
    <div class="field">
      <div class="control">
        <%= f.input :content, required: true, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: "label" }%>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= f.color_field :color, id:"color" %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= f.color_field :text_color, id:"backColor"%>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= f.input_field :font_type, collection: ["serif", "Arial", "Sans-Serif", "Tahoma", "Verdana"] %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= f.input_field :font_size, collection: 10..90 %>
      </div>
    </div>
    <div class="field">
      <label class="label">Group</label>
      <div class="control has-icons-left">
        <span class="select">
          <%= f.input_field :group_id, collection:@groups.map { |c| [c.name, c.id] }, prompt: "Select Group" %>
        </span>
        <span class="icon is-small is-left">
          <i class="fa fa-tag"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= f.button :submit, class:"button is-info" %>
      </div>
    </div>
<% end %>