<div class="box" style="background-color: <%= post.color %>; color: <%= post.text_color %>; font-size: <%= post.font_size %>px; font-style: <%= post.font_type %>;">
    <article class="media">
        <div class="media-content">
            <div class="media-content", style="font-size: 14px; color: <%= post.text_color %>;">   
                <p>
                    <b><a href="/group/<%= Group.find(post.group_id).name %>">
                        <%= Group.find(post.group_id).name %>
                    </a></b>
                    posted <%= time_ago_in_words(post.created_at) %> ago by
                    <b><a href="/user/<%= User.find(post.user_id).username %>">
                        <%= User.find(post.user_id).username %>
                    </a></b>
                </p>
            </div>
            <div class="content", style="padding-top: 1%; font-size: <%= post.font_size %>px;">
                <%= link_to post do %><%= post.content%><% end %>
            </div>
        </div>  
    </article>
</div>