<div class="columns">
  <div class="column is-8">
    <div class="content is-large"><%= @post.content %></div>
      <h3 class="subtitle is-7 has-text-grey-lighter"><%= t('.by')%><%= @post.user.username %></h3>
        <div class="level">
          <div class="level-left"></div>
            <div class="level-right">
              <div class="buttons">
                <%= link_to 'Edit Post', edit_post_path(@post), class:'button'%>
                <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Delete Post?" }, class:'button' %>
              </div>
            </div>
          </div>
            <h2 class="subtitle is-6 has-text-grey"><%= @post.replies.count %><%= t('.Replies')%></h2>
            <div id="post-replies">
              <%= render @post.replies %>
            </div>
            <hr />
            <h3 class="subtitle is-6 has-text-grey"><%= t('.leave_reply')%></h3>
    <% if user_signed_in? %>
      <%= render 'replies/form' %>
    <% else %>
    <p> <%= t('.to_reply') %><%= link_to 'login', new_user_session_path %>. <%= t('.no_account')%>
      <%= link_to 'Sign up', new_user_registration_path %><%= t('.one')%></p>
    <% end %>
  </div>
</div>